<app-date-picker [oneWay]="false"></app-date-picker>

<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Assignee</mat-label>
    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form> -->


<form [formGroup]="inputForm" class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Departure</mat-label>
    <input type="text" matInput formControlName="departure" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of departureList | async" [value]="option">
        {{option.name}} ({{option.iata_code}})
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Destination</mat-label>
    <input type="text" matInput formControlName="destination" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of destinationList | async" [value]="option">
        {{option.name}} ({{option.iata_code}})
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button (click)="test()">test</button>
</form>
