.case-study-form {
  min-width: 150px;
  width: 100%;
}
.case-study-card {
  display: flex;
  align-content: center;
  align-items: center;
  width: 60%;
}
.case-study-margin {
  margin: 0 10px;
}
.case-study-searchbox {
  width: 20%;
}
.case-study-datepicker {
  width: 40%;
}
.case-study-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
