.case-study-form {
  min-width: 150px;
  width: 100%;
}
.case-study-card-content {
  width: 100%;
}
.case-study-card {
  display: flex;
  align-content: center !important;
  align-items: center;
  width: 100%;
}
.case-study-margin {
  margin: 0 10px;
}
.case-study-searchbox {
  width: 20%;
}
.case-study-datepicker {
  width: 40%;
}
.case-study-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 80px;
}
.main-div {
  width: 100%;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  color: blue;
  background-color: rgb(49, 166, 206);
}
