<div class="main-div">
  <div class="card cad-xxl-stretch w-75">
    <div class="card-body">
      <form [formGroup]="inputForm" class="case-study-form">
        <section class="case-study-section">
          <mat-radio-group formControlName="oneWay">
            <mat-radio-button class="case-study-margin" [value]="false"
              >Round Trip</mat-radio-button
            >
            <mat-radio-button class="case-study-margin" [value]="true"
              >One Way</mat-radio-button
            >
          </mat-radio-group>
        </section>
        <section class="case-study-section">
          <mat-form-field class="case-study-searchbox case-study-margin">
            <mat-label>Departure</mat-label>
            <input
              type="text"
              matInput
              formControlName="departure"
              [matAutocomplete]="autoDeparture"
            />
            <mat-autocomplete
              #autoDeparture="matAutocomplete"
              [displayWith]="displayFn"
            >
              <mat-option
                *ngFor="let option of departureList | async"
                [value]="option"
              >
                {{ option.name }} ({{ option.iata_code }}), {{ option.city }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngFor="let validation of validation_msgs.airports">
              <span *ngIf="inputForm.controls.departure.hasError(validation.type)">
                {{validation.message}}
              </span>
            </mat-error>

          </mat-form-field>

          <mat-form-field class="case-study-searchbox case-study-margin">
            <mat-label>Destination</mat-label>
            <input
              type="text"
              matInput
              formControlName="destination"
              [matAutocomplete]="autoDestination"
            />
            <mat-autocomplete
              #autoDestination="matAutocomplete"
              [displayWith]="displayFn"
            >
              <mat-option
                *ngFor="let option of destinationList | async"
                [value]="option"
              >
                {{ option.name }} ({{ option.iata_code }}), {{ option.city }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngFor="let validation of validation_msgs.airports">
              <span *ngIf="inputForm.controls.destination.hasError(validation.type)">
                {{validation.message}}
              </span>
            </mat-error>
          </mat-form-field>
          <app-date-picker
            class="case-study-datepicker case-study-margin"
            (pickedDates)="pickedDates($event)"
            [oneWay]="inputForm.controls.oneWay.value"
          ></app-date-picker>
          <button
            class="btn btn-primary"
            [disabled]="!inputForm.valid"
            (click)="onSearch()"
          >
            Search
          </button>
        </section>
      </form>
    </div>
  </div>
</div>
<div class="main-div">
  <div class="card card-xxl-stretch w-75" *ngIf="showTable">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <div class="card-title case-study-margin">
          <h2> {{chosenDate | date: 'longDate'}}</h2>
        </div>
        <div class="card-toolbar">
          <ul class="nav">
            <li class="nav-item">
              <a
                class="nav-link btn btn-sm btn-color-muted btn-active btn-active-light-primary fw-bolder px-4 me-1"
                [ngClass]="activeClass('Departure')"
                (click)="setTab('Departure')"
                data-bs-toggle="tab"
              >
                Departure
              </a>
            </li>
            <li class="nav-item" *ngIf="!inputForm.controls.oneWay.value">
              <a
                class="nav-link btn btn-sm btn-color-muted btn-active btn-active-light-primary fw-bolder px-4 me-1"
                [ngClass]="activeClass('Return')"
                (click)="setTab('Return')"
                data-bs-toggle="tab"
              >
                Return
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-body">
      <h2 *ngIf="tableData.length === 0">There are no flights for given day</h2>
      <table
      *ngIf="tableData.length > 0 "
        matSort
        class="case-study-card-content"
        (matSortChange)="sortData($event)"
      >
        <tr>
          <th mat-sort-header="departure">Departure</th>
          <th mat-sort-header="arrival">Arrival</th>
          <th mat-sort-header="duration">Flight Duration</th>
          <th mat-sort-header="price">Price ($)</th>
        </tr>

        <tr *ngFor="let flight of tableData">
          <td>
            {{ flight.departureDateTimeDisplay | date : 'HH:mm' }} -
            {{ flight.originAirport.code }}
          </td>
          <td>
            {{ flight.arrivalDateTimeDisplay | date : 'HH:mm' }} -
            {{ flight.destinationAirport.code }}
          </td>
          <td>{{ flight.plannedFlightDurationDisplay | date : 'HH:mm' }}</td>
          <td>{{ flight.price }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
