<form class="row row-cols-sm-auto">
  <div class="col-12 mb-5">
    <div class="fs-6 fw-bolder mb-1 me-5">Departure Date:</div>
    <div class="d-flex">
      <div class="dp-hidden position-absolute">
        <div class="input-group">
          <input
            name="datepicker"
            class="form-control"
            ngbDatepicker
            #datepicker="ngbDatepicker"
            [autoClose]="'outside'"
            (dateSelect)="onDateSelection($event)"
            [displayMonths]="oneWay ? 1 : 2"
            (closed)="onClose()"
            [dayTemplate]="t"
            [minDate]="today"
            [startDate]="fromDate!"
            tabindex="-1"
            [markDisabled]="markDisabled"
            [footerTemplate]="footerTemplate"
          />
          <ng-template #t let-date let-focused="focused">
            <span
              class="custom-day"
              [class.focused]="focused"
              [class.disabled]="isDisabledDay(date)"
              [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null"
            >
              {{ date.day }}
            </span>
          </ng-template>
          <ng-template #c let-dp>
            <div *ngFor="let month of dp.state.months">
              <div class="text-primary p-1 fw-bold">
                {{ dp.i18n.getMonthShortName(month.month) }} {{ month.year }}
              </div>
              <ngb-datepicker-month
                class="border rounded"
                [month]="month"
              ></ngb-datepicker-month>
            </div>
          </ng-template>
          <ng-template #footerTemplate>
            <hr class="my-0" />
            <button
              class="btn btn-secondary btn-sm m-2 float-start"
              (click)="fromDate = null; toDate = null; datepicker.close()"
            >
              Clear
            </button>
            <button
              class="btn btn-primary btn-sm m-2 float-end"
              (click)="datepicker.close()"
            >
              Save
            </button>
          </ng-template>
        </div>
      </div>
      <div class="z-2">
        <input
          #dpFromDate
          [readonly]="true"
          class="form-control"
          placeholder="dd/mm/yyyy"
          name="dpFromDate"
          [value]="formatter.format(fromDate)"
        />
      </div>
      <button
        mat-mini-fab
        color="primary"
        class="btn btn-primary btn-outline-primary bi bi-calendar3"
        (click)="datepicker.toggle()"
        type="button"
      >
      <mat-icon>calendar_month</mat-icon>
    </button>
    </div>
  </div>
  <div class="col-12" *ngIf="!oneWay">
    <div class="fs-6 fw-bolder mb-1 me-5">Return Date:</div>
    <div class="d-flex">
      <div class="z-2">
        <input
          #dpToDate
          [readonly]="true"
          class="form-control"
          placeholder="dd/mm/yyyy"
          name="dpToDate"
          [value]="formatter.format(toDate)"
          />
      </div>
      <button
        mat-mini-fab
        color="primary"
        class="btn btn-primary btn-outline-primary bi bi-calendar3"
        (click)="datepicker.toggle()"
        type="button"
      >
      <mat-icon>calendar_month</mat-icon>
    </button>
    </div>
  </div>
</form>
